html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
}
.todoListWrap {
  width: 400px;
  border: 1px solid #dddddd;
  padding: 10px;
  background: #fff;
  box-shadow: 1px 1px 10px 3px #c7c7c7;
}
.todoListWrap > header {
  display: flex;
}

.todoListWrap > header > button {
  padding: 10px 0;
  border: 0;
  flex-grow: 1;
  width: 33.3333%;
  cursor: pointer;
}
.todoListWrap > header > button:hover {
  background-color: #e1e1e1;
}
.todoListWrap > header > button + button {
  border-left: 1px solid #fff;
}
.todoList > ul {
  height: 300px;
  overflow: scroll;
  padding: 24px 0;
}
.todoList .todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
}
.todoList .todo .input-wrap {
  width: 100%;
}
.todoList .todo .remove {
  text-indent: -9999px;
  background-image: url("./images/delete.svg");
  background-position: center;
  border: 0;
  outline: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
}
.inputTodo {
  display: flex;
  height: 35px;
}
.inputTodo > input[type="text"] {
  flex-grow: 1;
}
.input-wrap > input[type="checkbox"] {
  display: none;
}
.input-wrap > label {
  display: flex;
  width: inherit;
  align-items: center;
  cursor: pointer;
}
.input-wrap > input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("./images/check.svg");
  background-repeat: no-repeat;
  position: relative;
  top: -1px;
  margin-right: 8px;
}
.input-wrap > input[type="checkbox"]:checked + label::before {
  background-image: url("./images/checked.svg");
}
.inputTodo > input[type="submit"] {
  padding: 2px 24px;
  border: 0;
  margin-left: 4px;
  cursor: pointer;
}
.inputTodo > input[type="submit"]:hover {
  background-color: #e1e1e1;
}
.inputTodo > input[type="text"] {
  outline: none;
  font-size: 16px;
  padding: 0 8px;
}
